{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "next",
    "next/core-web-vitals"
  ],
  "overrides": [],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "plugins": ["react", "import", "@typescript-eslint"],
    "rules": {
      "react/react-in-jsx-scope": "off",
      "react/prop-types": 0,
      "no-console": 1,
      "quotes": [
        2,
        "single",
        {
          "avoidEscape": true,
          "allowTemplateLiterals": true
        }
      ],
      "@typescript-eslint/no-non-null-assertion": 2,
      "react/no-unescaped-entities": 0,
      "no-extra-boolean-cast": 2
    }
  },
  "plugins": ["react", "import", "@typescript-eslint"],
  "rules": {
    "import/named": "off",
    "react/no-unescaped-entities": 0,
    "import/no-unresolved": 0,
    "no-unused-vars": "off",
    "@next/next/no-img-element": "off",
    "react/react-in-jsx-scope": "off",
    "no-self-assign": "off",
    "jsx-a11y/role-has-required-aria-props": "off",
    "react/prop-types": 0,
    "no-console": 1,
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "@typescript-eslint/no-non-null-assertion": "off",
    "no-extra-boolean-cast": 2
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      },
      "typescript": {
        "alwaysTryTypes": true
      }
    },
    "version": "detect"
  }
}
